*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.3;
}

.users {
	max-width: 1440px;
	display: grid;
	gap: 30px;
	grid-template: 
	'a a b e'
	'c d d e';
	grid-template-columns: repeat(4, 1fr);
}

.users > * {
	border: 0.5px solid hsl(0, 0%, 81%);
	padding: 25px 20px;
	border-radius: 15px;
	box-shadow: 25px 20px 15px 20px hsl(214, 17%, 92%);
}

img {
	border-radius: 50%;
	width: 60px;
}

.users > .user1 {
	grid-area: a;
	background: hsl(263, 55%, 52%); 
	color: white;
	background-image: url("images/bg-pattern-quotation.svg");
	background-repeat: no-repeat;
	background-position: right 30px top 0px;
}

.users > .user2 {
	grid-area: b;
	background: hsl(217, 19%, 35%);
	color: white;
}


.users > .user3 {
	grid-area: c;
	color: hsl(217, 19%, 35%);
}

.users > .user4 {
	grid-area: d;
	background: hsl(219, 29%, 14%);
	color: hsl(0, 0%, 81%);
}

.users > .user5 {
	grid-area: e;
	color: hsl(217, 19%, 35%);
}

.info {
	display: flex;	
	align-items: center;
	padding-bottom: 15px;
}

.info > * {
	padding-right: 15px;
}

h2 {
	font-weight: bold;
	padding-bottom: 15px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	line-height: 1.3;
}

.info > div > .name{
	font-size: 18px;
	margin-bottom: 5px;
}

@media (max-width: 700px) {
	body {
		height: auto;
	}

	.users {
		max-width: 375px;
		grid-template-areas:
		'a'
		'b'
		'c'
		'd'
		'e';
		grid-template-columns: 1fr;
		margin-inline: auto;
	}
}
